.git
.env
.env.production
.env.local
node_modules
vendor
storage/framework/cache
storage/framework/sessions
storage/framework/views
storage/logs
public/build
tests
.gitignore
.editorconfig
.php-cs-fixer.php
phpunit.xml
docker-compose.yml
docker-compose.prod.yml
Dockerfile
Dockerfile.prod
.github
scripts
*.md
